$placeholder-height: 300px;

#discount-placeholder {
	overflow: hidden;
	position: relative;
	height: $placeholder-height;
	.background {
		@extend %bg-cover;
		position: absolute;
		@extend %full-size-layer;
		z-index: 0;
		&:before {
			content: "";
			@extend %full-size-layer;
			background-color: rgba(#000, .7);
			z-index: 3;
		}
		.content {
			@extend %center-content;
			z-index: 10;
			width: 80%;
			text-align: center;
			.discount {
				h4 {
					font-size: 80px;
					color: #FFF;
					small {
						font-size: 20px;
					}
				}
			}
			.food-rush {
				h3 {
					font-size: 60px;
					color: #FFF;
					font-weight: 300;
					margin-bottom: 20px;
					small {
						font-size: 20px;
					}
				}
				h5 {
					@extend %small-title;
					color: #FFF;
				}
				.item.range {
					background-color: transparent;
					border: none;
					color: #FFF;
					font-weight: 500;
				}
			}
		}
	}
}

#product-list {
	.list {
		&:before {
			content: "";
			position: absolute;
			top: -50px;
			left: 0;
			width: 100%;
			z-index: 0;
			height: 50px;
			background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%);
		}
		.item.products {
			background: $blue;
			border: none;
			padding: 20px;
			&:after {
				content: "";
				position: absolute;
				bottom: 2px;
				left: 20px;
				width: calc(100% - 40px);
				height: 1px;
				background-color: lighten($blue, 10%);
			}
			&.is-active {
				&:after {
					background-color: transparent;
				}
			}
			h4 {
				color: #FFF;
				text-transform: uppercase;
				font-size: 15px;
				margin-bottom: 6px;
			}
			.info-icons {
				list-style-type: none;
				margin-left: 10px;
				margin-top: -3px;
				li {
					display: inline-block;
					font-size: 20px;
					span {
						color: lighten($blue, 30%);
					}
				}
			}
			p {
				color: lighten($blue, 30%);
        white-space: normal !important;
			}
		}
		.item.item-accordion {
			background-color: lighten($blue, 10%);
			.content {
				padding: 16px;
				.format-info {
					line-height: 30px;
					h5 {
						color: #FFF;
						font-size: 15px;
						line-height: 30px;
						text-transform: capitalize;
					}
					.format-price {
						color: #FFF;
						font-size: 12px;
					}
				}
				.add-to-cart {
					float: right;
					.total {
						display: block;
						text-align: center;
						float: left;
						width: 60px;
						line-height: 30px;
						color: #FFF;
						font-size: 20px;
						font-weight: 400;
					}
					.action-btn {
						display: block;
						text-align: center;
						float: left;
						width: 30px;
						height: 30px;
						font-size: 20px;
						color: $blue;
						border-radius: 100%;
						line-height: 30px;
						background-color: lighten($blue, 20%);
						&.is-active {
							background-color: #FFF;
						}
					}
				}
			}
		}
	}
}

.selected-product-icon {
	color: $red;
}
