#intro-slides {
	.titles {
		padding: 80px 40px;
		text-align: center;
		h3 {
			font-size: 25px;
			font-weight: 300;
			margin-bottom: 10px;
			font-family: "Helvetica Neue", "Helvetica", Arial !important;
		}
		p {
			color: $font-grey;
			font-size: 14px;
		}
	}
}

#intro-animations {
	position: absolute;
	bottom: 80px;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	z-index: -1;
	height: 300px;
	overflow: hidden;
	.canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform-origin: 30% 100% 0;
		transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
		&:before{
			content: "";
			position: absolute;
			bottom: 0;
			height: 4px;
			width: 100%;
			background-color: $purple;
		}
		.pizzeria {
			position: absolute;
			bottom: 50px;
			left: 0;
			width: 190.4px;
			height: 200px;
			@extend %bg-cover;
			background-image: url(../images/pizzeria.png);
			transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
			ul.smoke {
				position: absolute;
				width: 40px;
				height: 40px;
				top: -50px;
				right: 50px;
				li {
					display: block;
					float: left;
					position: relative;
					width: 5px;
					height: 40px;
					margin-right: 6.5px;
					overflow: hidden;
					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: lighten($purple, 30%);
					}
					&:first-child {
						height: 25px;
						margin-top: 15px;
						&:after {
							@include animation(smoke 1.5s cubic-bezier(0.25, 0.8, 0.25, 1) infinite);
						}
					}

					&:nth-child(2) {
						height: 20px;
						margin-top: 20px;
						&:after {
							@include animation(smoke2 1.5s cubic-bezier(0.25, 0.8, 0.25, 1) infinite);
						}
					}
					&:nth-child(3) {
						height: 30px;
						margin-top: 10px;
						&:after {
							@include animation(smoke3 1.5s cubic-bezier(0.25, 0.8, 0.25, 1) infinite);
						}
					}
					&:last-child {
						height: 15px;
						margin-top: 25px;
						margin-right: 0;
						&:after {
							@include animation(smoke4 1.5s cubic-bezier(0.25, 0.8, 0.25, 1) infinite);
						}
					}
				}
			}
			&:before {
				content :"";
				position: absolute;
				top: 144px;
				left: 50px;
				height: 18px;
				width: 34px;
				border-radius: 34px 34px 0 0;
				background: $orange;
				transform: translateZ(0);
				@include animation(fire .8s ease-in alternate infinite);

			}
		}
		.clock {
			width: 100px;
			height: 100px;
			position: absolute;
			top: 40px;
			left: 50%;
			margin-left: -50px;
			border: 3px solid $purple;
			border-radius: 100%;
			opacity: 0;
			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 3px;
				height: 30px;
				transform-origin: 50% 100% 0;
				transform: rotate(200deg);
				background-color: $purple;
				margin-left: -1.5px;
				margin-top: -30px;
			}
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 3px;
				height: 20px;
				transform-origin: 50% 100% 0;
				transform: rotate(50deg);
				background-color: $purple;
				margin-left: -1.5px;
				margin-top: -20px;
			}
		}
		.scooter {
			position: absolute;
			bottom: 5px;
			right: 0;
			width: 200px;
			height: 119px;
			@extend %bg-cover;
			background-image: url(../images/scooter.png);
			transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
			ul.speed {
				position: absolute;
				top: 45px;
				left: -100px;
				width: 70px;
				opacity: 0;
				li {
					display: block;
					height: 5px;
					margin-bottom: 15px;
					overflow: hidden;
					position: relative;
					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: lighten($purple, 30%);
					}
					&:first-child {
						width: 100%;
						&:after {
							@include animation(speed .8s cubic-bezier(0.25, 0.8, 0.25, 1) infinite);
						}
					}
					&:nth-child(2) {
						margin-left: 40%;
						&:after {
							@include animation(speed2 1s cubic-bezier(0.25, 0.8, 0.25, 1) infinite);
						}
					}
					&:nth-child(3) {
						margin-left: 60%;
						&:after {
							@include animation(speed3 1s cubic-bezier(0.25, 0.8, 0.25, 1) infinite);
						}
					}
				}
			}
			ul.pizzas {
				$color-pizza-box : #CDAF8A;
				position: absolute;
				left: 14px;
				top: -7px;
				li {
					display: block;
					width: 66px;
					margin-bottom: 2px;
					height: 10px;
					opacity: 0;
					position: relative;
					transform: translate3d(0, -10px, 0);
					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color : $color-pizza-box;
					}
					&:first-child {
						&:after {
							transform: translateX(1px);
						}
					}
					&:nth-child(2) {
						&:after {
							transform: translateX(-3px);
						}
					}
					&:nth-child(3) {
						&:after {
							transform: translateX(5px);
						}
					}
					&:last-child {
						&:after {
							transform: translateX(0);
						}
					}
				}
			}
			.flag {
				position: absolute;
				top: -15px;
				left: 7px;
				width: 5px;
				opacity: 0;
				height: 60px;
				background-color: $purple;
				transform-origin: 50% 100% 0;
				transform: rotate(-30deg);
				&:before {
					content: "-50%";
					position: absolute;
					line-height: 30px;
					display: flex;
					justify-content:center;
					align-content:center;
					flex-direction:column;
					text-align: center;
					color: #FFF;
					font-weight: 700;
					font-size: 11px;
					top: 0;
					left: -40px;
					width: 45px;
					height: 30px;
					background-color: $red;
				}
			}
		}
		&.is-slide2 {
			transform: scale(1.8);
			.pizzeria {
				opacity: 0;
			}
			.scooter {
				ul.pizzas {
					li {
						opacity: 1;
						transform: translate3d(0, 0, 0);
						&:first-child {
							transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1) .6s;
						}
						&:nth-child(2) {
							transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1) .5s;
						}
						&:nth-child(3) {
							transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1) .4s;
						}
						&:last-child {
							transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1) .3s;
						}
					}
				}
				.flag {
					transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1) 1s;
					opacity: 1;
					transform: rotate(-20deg);
				}
			}
		}
		&.is-slide3 {
			.clock {
				opacity: 1;
				transition: opacity 0.2s linear .55s;
				&:before {
					@include animation(clock .5s linear infinite);
				}
				&:after {
					@include animation(clock 12s linear infinite);
				}
			}
			.pizzeria {
				opacity: 0;
			}
			.scooter {
				transform: scale(.6) translate3d(-40%, 40px, 0);
				@include animation(movingScooter .3s cubic-bezier(0.25, 0.8, 0.25, 1) infinite .3s);
				.speed {
					transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
					opacity: 1;
				}
				ul.pizzas {
					top: 2px;
					li {
						opacity: 1;
					}
				}
				.flag {
					opacity: 1;
					transform: rotate(-20deg);
				}
			}
			&:before{
				content: "";
				position: absolute;
				bottom: 0;
				height: 2px;
				width: 100%;
				background-color: $purple;
			}
		}
		&.is-hidden {
			opacity: 0;
			transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
		}
	}
}

@media (max-width: 350px) {
	#intro-slides {
		.titles {
			padding: 30px 40px;
			h3 {
				font-size: 20px;
			}
			p {
				font-size: 11px;
			}
		}
	}
	#intro-animations {
		bottom: 50px;
		width: 280px;
		height: 280px;
		margin-left: -140px;
	}
}
