.order-card {
  background: #FFF;
  margin: 10px;
  min-height: 300px;
  border-radius: 4px;
  .top {
    height: 250px;
    background-size:cover;
    background-position: center;
    border-radius: 4px 4px 0 0;
    position: relative;
    h3 {
      @extend %center-content;
      color: #FFF;
      font-weight: 700;
      z-index: 10;
      font-size: 60px;
      letter-spacing: -1px;
      span {
        font-size: 30px;
      }
    }
    .time-left {
      position: absolute;
      bottom: 0;
      right: 15px;
      z-index : 10;
      background-color: $red;
      font-size: 10px;
      width: 50px;
      height:50px;
      line-height:130%;
      border-radius: 100%;
      text-align:center;
      transform: translateY(50%);
      text-transform: uppercase;
      font-weight: 700;
      color: #FFF;
      display: flex;
      justify-content:center;
      align-content:center;
      flex-direction:column;
      span {
        font-size: 11px;
      }
    }
    &:after {
      content : '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:100%;
      z-index : 2;
      background-color: rgba($blue, .3);
      border-radius: 4px 4px 0 0;
    }
    &:before {
      content : "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 40%, rgba(0,0,0,0.75) 100%);
    }
  }
  .content {
    padding: 15px;
    h1 {
      margin: 0;
      padding: 0;
      font-weight: 500;
      letter-spacing: -1px;
      font-size: 20px;
    }
    .stars {
      color : $font-grey;
      i {
        display: block;
        float: left;
        font-size: 15px;
        margin-right: 3px;
      }
    }
    .capacity {
      margin: 15px 0 20px;
      ul {
        margin-top: 10px;
        li {
          display: block;
          text-align: center;
          span {
            font-size: 25px;
            color: $border-light;
            @media (max-width: 350px) {
              font-size: 20px;
            }
            &.filled {
              color: $red;
            }
          }
        }
      }
    }
  }
}
