.backdrop {
	background-color: rgba($blue, 0.8);
}

.popup {
	background-color: #FFF !important;
	border-radius: 4px !important;
	.popup-head {
		border-bottom: 0;
		padding: 30px 15px;
		background-color: $red;
		border-radius: 4px 4px 0 0;
		h3 {
			color: #FFF;
			font-size: 20px;
		}
	}
	.popup-body {
		padding: 40px;
		text-align: center;
		color: $font-grey;
	}
	.popup-buttons {
		flex-direction: column-reverse !important;
		padding: 15px;
		padding-top: 0;
		.button {
			margin: 0 !important;
			&:nth-of-type(1) {
				margin-top: 10px !important;
			}
			&.button-positive {
				background-color: $green;
				border: none;
				border-radius: 4px;
			}
			&.button-default {
				background-color: $border-light;
				border: none;
				color: $font-grey;
				border-radius: 4px;
			}
		}
	}
}
