$discount-50 : $red;
$discount-40 : $orange;
$discount-30 : #F2BC21;
.restaurant-card {
	height: 300px;
	position: relative;
	@extend %bg-cover;
	border-bottom: 1px solid #FFF;
	&:after {
		content: "";
		@extend %full-size-layer;
		background-color: rgba(#000, .3);
	}
	.content {
		z-index: 3;
		width: 90%;
		text-align: center;
		@extend %center-content;
		color: #FFF;
		.max-discount {
			&.discount-50 {
				background-color: $discount-50;
			}
			&.discount-40 {
				background-color: $discount-40;
			}
			&.discount-30 {
				background-color: $discount-30;
			}
			width: 100px;
			height: 100px;
			margin: 0 auto;
			margin-bottom: 20px;
			display: flex;
			justify-content:center;
			line-height: 170%;
			align-content:center;
			flex-direction:column;
			border-radius: 100%;
			span {
				text-transform: uppercase;
				font-size: 10px;
				font-weight: 500;
			}
			b {
				font-size: 32px;
				small {
					font-size: 15px;
				}
			}
		}
		h3, p {
			color: #FFF;
		}
		.stars {
			display: inline-block;
			i {
				display: block;
        float: left;
        font-size: 16px;
        margin-right: 3px;
			}
		}
	}
}
