/**
 * [COMPONENTS] Spinner Style
 */

.spinner-orange svg {
  width: 28px;
  height: 28px;
  stroke: orange;
  fill: orange;
  margin-top: 11px;
}

.spinner-footbar {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}
