<ion-view id="settings" title="{{ 'settings' | translate }}" >
  <ion-nav-bar class="bar-blue">
    <ion-nav-back-button class='button button-clear'>
      <i class="ion-arrow-left-c"></i>{{ 'back' | translate }}
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <ion-process-spinner on-tap="onSave()" css-class="spinner-balanced" processing="isProcessingRequest"><i class="button button-clear button-success icon ion-checkmark"></i></ion-process-spinner>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false">

    <form name="form.settings" ng-submit-force="true" novalidate>

      <div class="list">

        <div class="item item-divider">
          {{ 'phoneNumber' | translate }} :
        </div>

        <input ng-model="customerIdentity.phoneNumber" name="phoneNumber" type="tel"
          ui-mask="99-99-99-99-99" placeholder="{{ 'phoneNumber' | translate }}" ui-mask-placeholder>

        <div class="item item-divider">
          {{ 'pushSettings' | translate }} :
        </div>

        <div class="item item-toggle">
          {{ 'enable' | translate}}
          <label class="toggle">
            <input ng-model="customerSettings.notificationsEnabled" name="notificationsEnabled" type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>

        <div ng-show="customerSettings.notificationsEnabled">

          <div class="item item-divider">
            {{ 'afterMakingAnOrder' | translate }} :
          </div>

          <label class="item item-input item-select">
            <div class="input-label">
              {{ 'notifyMe' | translate }} :
            </div>
            <select ng-model="customerSettings.daysWithoutNotifying" name="daysWithoutNotifying">
              <option
              ng-repeat="day in daysWithoutNotifyingOptions"
              ng-pluralize
              ng-init="dayLabel='day'; daysLabel='days'"
              count="day"
              when="{0: '{} {{dayLabel | translate}}',
                     1: '{} {{dayLabel | translate}}',
                     other: '{} {{ daysLabel | translate }}'}"
              value="{{day}}"
              ng-selected="day==customerSettings.daysWithoutNotifying"
              >{{day}}</option>
            </select>
          </label>

          <div class="item item-divider">
            {{ 'doNotNotifyMe' | translate }} :
          </div>

          <label class="item item-input item-select">
            <div class="input-label">
              {{ 'after' | translate }} :</p>
            </div>
            <select ng-model="customerSettings.noNotificationAfter" name="noNotificationAfter">
              <option ng-repeat="hour in noNotificationAfterOptions" value="{{hour}}" ng-selected="hour === customerSettings.noNotificationAfter">{{ hour | timeLabel }}</option>
            </select>
          </label>

        </div>

        <div class="item item-divider">
          {{ 'editPassword' | translate }}
        </div>

        <input ng-model="customerIdentity.oldPassword" name="oldPassword" type="password" placeholder="{{ 'oldPassword' | translate }}" ng-minlength="6">
        <div ng-messages="customerEditForm.oldPassword.$error">
          <div ng-message="min">{{ 'minShortErrorKey' | translate }}</div>
        </div>
        <input ng-model="customerIdentity.newPassword" name="newPassword" type="password" placeholder="{{ 'newPassword' | translate }}" ng-minlength="6">
        <div ng-messages="customerEditForm.newPassword.$error">
          <div ng-message="min">{{ 'minShortErrorKey' | translate }}</div>
        </div>

      </div>

    </form>

  </ion-content>

</ion-view>
