<form name="form.customerSettings" ng-submit-force="true" novalidate>

  <div class="list">

    <div class="item item-toggle">
      {{ 'enable' | translate}}
      <label class="toggle">
        <input ng-model="customerSettings.notificationsEnabled" name="notificationsEnabled" type="checkbox">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </div>

    <div ng-show="customerSettings.notificationsEnabled">

      <div class="item item-divider">
        {{ 'afterMakingAnOrder' | translate }} :
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          {{ 'notifyMe' | translate }} :
        </div>
        <select ng-model="customerSettings.daysWithoutNotifying" name="daysWithoutNotifying">
          <option
          ng-repeat="day in daysWithoutNotifyingOptions"
          ng-pluralize
          ng-init="dayLabel='day'; daysLabel='days'"
          count="day"
          when="{0: '{{day}} {{dayLabel | translate}}', 1: '{{day}} {{dayLabel | translate}}', other: '{{day}} {{ daysLabel | translate }}'}"
          >{{day}}</option>
        </select>
      </label>

      <div class="item item-divider">
        {{ 'doNotNotifyMe' | translate }} :
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          {{ 'after' | translate }} :</p>
        </div>
        <select ng-model="customerSettings.noNotificationAfter" name="noNotificationAfter">
          <option ng-repeat="hour in noNotificationAfterOptions" value="{{hour}}" ng-selected="hour === customerSettings.noNotificationAfter">{{ hour | timeLabel }}</option>
        </select>
      </label>

    </div>

  </div>

</form>
