<ion-view id="settings" title="{{ 'settings' | translate }}" >
  <ion-nav-bar class="bar-blue">
    <ion-nav-back-button class='button button-clear'>
      <i class="ion-arrow-left-c"></i>{{ 'back' | translate }}
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <ion-process-spinner on-tap="onSave()" css-class="spinner-balanced" processing="isProcessingRequest"><i class="button button-clear button-success icon ion-checkmark"></i></ion-process-spinner>
    </ion-nav-buttons>
  </ion-nav-bar>

  <div class="bar bar-subheader bar-tab" ng-class="{'second-selected' : slideIndex == 1}">
    <button ng-repeat="tab in tabs" ng-class="{'active' : slideIndex == tab.id}" on-tap="slideTo({{ tab.id }})">
      {{ tab.title | translate }}
    </button>
  </div>

  <ion-content class="has-subheader">
    <ion-slide-box show-pager="false">
      <ion-slide ng-repeat="tab in tabs">
        <ng-include src="tab.url"/>
      </ion-slide>
    </ion-slide-box>
  </ion-content>

</ion-view>
