<ion-view>

	<ge-message-backdrop
		icon="messageBackdrop.icon"
		title="messageBackdrop.title"
		details="messageBackdrop.details"
		button-sref="messageBackdrop.buttonSref"
		button-text="messageBackdrop.buttonText"
		status="messageBackdrop.status"
	>
	</ge-message-backdrop>

	<ion-nav-bar class="bar-blue">
		<ion-nav-buttons side="primary">
			<button class="button button-clear" on-tap="back()">
				<i class="ion-arrow-left-c"></i>{{ 'back' | translate }}
			</button>
		</ion-nav-buttons>
		<ion-nav-title>
			<ge-delivery-address on-address-select="onReload()"></ge-delivery-address>
		</ion-nav-title>
	</ion-nav-bar>

	<ion-content class="bg-blue">
		<ion-refresher pulling-text="{{ 'pullToRefresh' | translate }}" on-refresh="onReload()">
		</ion-refresher>
		<ge-restaurant-card data="restaurant" ng-repeat="restaurant in restaurants" on-tap="onRestaurantTouch(restaurant)">
		</ge-restaurant-card>
	</ion-content>

</ion-view>
