<ion-view hide-nav-bar="true">

	<div disable-scroll="true" id="auth" class="full-height">
		<div class="content">
			<div class="titles">
				<h3>{{ 'helloYou' | translate:'{"firstName": firstName}' }} ?</h3>
				<p>{{ 'helloYouDetails' | translate }}.</p>
			</div>
			<form ng-submit="confirmSignup()">
				<div class="form">
          <div class="row">
            <div class="col">
              <div class="input input-bordered input-tel">
                <input ng-model="user.phoneNumber" name="phoneNumber" type="tel"
                  ui-mask="99-99-99-99-99" placeholder="{{ 'phoneNumber' | translate }}" ui-mask-placeholder>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="info-comment">
                * {{ 'noSpamNoCommercials' | translate }}.
              </p>
            </div>
          </div>
				</div>
				<div class="btn-group">
					<div class="row">
						<div class="col">
							<button type="submit" ng-disabled="!user.phoneNumber" ng-click="confirmSignup()" class="btn btn-bloc btn-lg btn-green">
								{{ 'register' | translate }} <i class="ion-ios-arrow-thin-right"></i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="signup-logo-container hide-on-keyboard-open">
    <div class="logo">
      <img src="images/logo-groupeat.png" alt="">
    </div>
	</div>

</ion-view>
