.bar {
	height: 50px;
	&.bar-transparent {
		border-style: none;
		background-image: none !important;
		background-color: rgba(255,255,255,0);
		.button {
			color: lighten($blue, 15%);
			&.button-timer {
				background-color: $red;
				color: #FFF !important;
				font-weight: 700;
				display: block;
				text-align: center;
				padding: 0 10px;
				font-size: 14px;
				height: 30px;
				margin-top: 5px;
				line-height: 30px;
				border-radius: 30px;
				margin-right: 5px;
				span {
					margin-left: 0;
				}
				i {
					margin-right: 5px;
				}
			}
		}
	}
	&.bar-subheader {
		top: 50px;
	}
	&.bar-blue {
		border-style: none;
		background-image: none !important;
		background-color: $blue;
		.button {
			color: lighten($blue, 15%);
			&.button-timer {
				background-color: $red;
				color: #FFF !important;
				font-weight: 700;
				display: block;
				text-align: center;
				padding: 0 10px;
				font-size: 14px;
				height: 30px;
				margin-top: 5px;
				line-height: 30px;
				border-radius: 30px;
				margin-right: 5px;
				span {
					margin-left: 0;
				}
				i {
					margin-right: 5px;
				}
			}
		}
	}
	&.bar-tab {
		padding: 0;
		display: flex;
		button {
			flex: 1;
			background-color: transparent;
			position: relative;
			border: none;
			color: $font-grey;
			&.active {
				color: $font-base;
			}
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 50%;
			height: 3px;
			background-color: $blue;
			transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
		}
		&.second-selected {
			&:after {
				transform: translate3d(100%, 0, 0);
			}
		}
	}
	&.bar-white {
		background-color: #FFF !important;
		border-collor: #FFF;
	}
	&.bar-no-padding {
		padding: 0;
	}
	&.bar-button {
		text-transform: uppercase;
		.title {
			font-size: 12px;
			line-height: 50px;
			letter-spacing: 0.04em;
		}
	}
	&.top-bordered-radius {
		border-radius: 4px 4px 0 0;
	}
	.button.button-icon {
		&:before {
			font-size: 22px !important;
		}
	}
	.button {
		&.button-back {
			color: #FFF;
			line-height: 40px !important;
			&:before {
				font-size: 35px !important;
			}
		}
	}
}

.bar-header {
	.title {
		line-height: 50px;
		height: 50px;
		color: #FFF !important;
		&.has-sub-title {
			font-size: 15px;
			line-height: 120%;
			margin-top: 0px;
			display: flex;
			justify-content:center;
			align-content:center;
			flex-direction:column;
			small {
				display: block;
				font-size: 11px;
				color: $font-grey;
			}
		}
	}
	.button {
		&.button-back {
			color: #FFF;
			line-height: 40px !important;
			&:before {
				font-size: 35px !important;
			}
		}
	}
}

ion-content.full-height {
  min-height: calc(100vh);
  .scroll {
    min-height: calc(100vh);
  }
  &.has-footer-summup {
  	bottom: 70px !important;
	min-height: calc(100vh - 70px);
	.scroll {
	    min-height: calc(100vh - 70px);
	  }
  }
}

.slider.full-height {
	min-height: 100vh;
	.slider-slides {
		position: absolute;
	}
}
.slider {
	height: 100%;
}

.row-no-padding {
	padding: 0;
	.col {
		padding: 0;
	}
}

.has-sub-header {
	top: 100px;
}

.col-no-padding {
	padding: 0;
}

.no-header {
	top: 0 !important;
}

.pull {
	&-left {
		float: left;
	}
	&-right {
		float: right;
	}
}
