<ion-modal-view id="cart" ng-controller="groupeat.orders.CartCtrl">
  <ion-header-bar class='bar-transparent'>
    <button on-tap="closeCart()" class="button button-icon icon ion-ios-close-empty button-back"></button>
  </ion-header-bar>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" class="full-height">
    <ion-slide class="bg-green">
      <div class="cart-content">
        <div class="titles">
          <h3>{{ 'yummy' | translate }} !</h3>
          <p>{{ 'orderSaved' | translate }} !</p>
        </div>
        <ge-receipt-card comment="comment.value" orders="cart" restaurant="restaurant" discount="currentDiscount">
        </ge-receipt-card>
      </div>
    </ion-slide>
    <ion-slide class="bg-orange">
      <div class="cart-content">
        <div class="titles">
          <i class="ion-map"></i>
          <h3>{{ 'address' | translate }}</h3>
        </div>

      <div class="display-address">
        <p>{{ 'youWillBeDeliveredAt' | translate }} :
          <b>
            {{ address.street | translate }} <small>{{address.details}}</small>
          </b>
        </p>
      </div>
    </div>
  </ion-slide>
</ion-slide-box>
<ion-footer-bar class="bar-white top-bordered-radius bar-button center" on-tap="confirmButtonAction()">
  <ion-process-spinner css-class="spinner-footbar spinner-orange" processing="isRequesting">
    <h1 class="title color-{{activeButton.color}}">{{activeButton.title}}</h1>
  </ion-process-spinner>
</ion-footer-bar>
</ion-modal-view>
