<ion-modal-view id="cart" ng-controller="groupeat.orders.CartCtrl">
  <ion-header-bar class='bar-transparent'>
    <button on-tap="closeCart()" class="button button-icon icon ion-ios-close-empty button-back"></button>
  </ion-header-bar>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" class="full-height">
    <ion-slide class="bg-green">
      <div class="cart-content">
        <div class="titles">
          <h3>{{ 'yummy' | translate }} !</h3>
          <p>{{ 'orderSaved' | translate }} !</p>
        </div>
        <receipt-card comment="comment.value" orders="cart" restaurant="restaurant" discount="currentDiscount"></receipt-card>
      </div>
    </ion-slide>
    <ion-slide class="bg-orange">
      <div class="cart-content">
        <div class="titles">
          <i class="ion-map"></i>
          <h3>{{ 'address' | translate }} ?</h3>
          <p>{{ 'whereDoYouWantToBeDelivered' | translate }} ?</p>
        </div>

        <div class="shipping-address">
          <ion-list>
            <label class="item item-radio" ng-class="{'checked' : address.name == 'preset'}">
              <input type="radio" value="preset" ng-model="address.name" name="address">
              <div class="item-content">
                {{ 'myAddress' | translate }}
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio" ng-class="{'checked' : address.name == 'other'}">
              <input type="radio" value="other" ng-model="address.name" name="address">
              <div class="item-content">
                {{ 'otherAddresses' | translate }}
              </div>
              <i class="radio-icon ion-checkmark"></i>
            </label>

            <div class="item-sub" ng-class="{'is-active' : address.name == 'other'}">
              <label ng-repeat="predifinedAddress in predifinedAddresses track by $index"
              class="item-accordion item item-radio"
              ng-class="
              {'checked': address.other == $index,
              'is-active' : address.name == 'other'}">
              <input type="radio" value="{{$index}}" ng-model="address.other" name="other">
              <div class="item-content">
                {{predifinedAddress.details}}
              </div>
              <i class="radio-icon ion-location"></i>
            </label>
          </div>

        </ion-list>
      </div>

      <div class="display-address">
        <p>{{ 'youWillBeDeliveredAt' | translate }} :
          <b ng-if="address.name === 'preset'">
            {{ presetAddress.residency | translate }} <small>{{presetAddress.details}}</small>
          </b>
          <b ng-if="address.name !== 'preset'">
            {{ predifinedAddresses[address.other].details }}
          </b>
        </p>
      </div>
    </div>
  </ion-slide>
</ion-slide-box>
<ion-footer-bar class="bar-white top-bordered-radius bar-button center" on-tap="confirmButtonAction()">
  <ion-process-spinner css-class="spinner-footbar spinner-orange" processing="isRequesting">
    <h1 class="title color-{{activeButton.color}}">{{activeButton.title}}</h1>
  </ion-process-spinner>
</ion-footer-bar>
</ion-modal-view>
