// Typography
$base-font-family: "Sen", "Helvetica Neue", arial;


// Other Sizes
$base-border-radius: 4px;

// Colors
$blue 		: #30364C; //2d283d
$red 		: #FF4E50;
$green 		: #1AB22D;
$orange 	: #E67E22;
$purple		: #767283;

// Social
$facebook 	: #3B5998;
$twitter 	: #00ACED;
$tumblr 	: #35465C;
$pinterest 	: #cb2027;
$google 	: #dd4b39;

// Font Colors
$font-base			: #292F33;
$font-grey 			: #8C9CA9;
$font-light-grey 	: #CCD6DD;

//Backgrounds 
$bg-light 			: #F5F5F5;

//Borders
$border-light		: #E9E9E9;
$border-medium		: #e1e8ed;