<div class="order-card" >
  <div class="top" ng-style="{'background-image' : 'url('+groupOrder.pictureUrl+')'}">
    <h3>-{{groupOrder.discountRate}}<span>%</span></h3>
    <div class="time-left">
      <span>
        <timer end-time="groupOrder.endingAt" interval="1000"> {{mminutes}}</timer>mn
      </span>
    </div>
  </div>
  <div class="content">
    <h1>{{groupOrder.restaurant.data.name}}</h1>
    <div class="stars clearfix">
      <i class="ion-ios-star" ng-repeat="i in setArrayFromInt(4) track by $index"></i>
      <i class="ion-ios-star-outline" ng-repeat="i in setArrayFromInt(1) track by $index"></i>
    </div>
    <div class="capacity">
      <h4 class="small-title">
        {{ 'remainingCapacity' | translate }} <b>{{groupOrder.remainingCapacity}}</b>
      </h4>
      <div class="clearfix">
        <ul>
          <li ng-repeat="i in setArrayFromInt(groupOrder.restaurant.data.deliveryCapacity - groupOrder.remainingCapacity) track by $index">
            <span class="gp-icon gp_pizza filled"></span>
          </li>
          <li ng-repeat="i in setArrayFromInt(groupOrder.remainingCapacity) track by $index">
            <span class="gp-icon gp_pizza"></span>
          </li>
        </ul>
      </div>
    </div>
    <a on-tap="onJoinOrderTouch(order)" class="btn btn-bloc btn-green btn-lg">
      <i class="ion-plus-round"></i> {{ 'order' | translate }}
    </a>
  </div>
</div>
